@font-face {
  font-family: "Ruda Black";
  src: url("../../assets/Ruda/static/Ruda-Black.ttf") format("truetype");
}

.activityForm {
  background-color: rgba(0, 0, 0, 0.384);
  width: 400px;
  height: 500px;
  border-radius: 30px;
  padding: 15px;
  position: relative;
  margin-left: 30%;
  margin-top: 20px;
}
.h2 {
  color: rgba(255, 255, 255, 0.932);
  font-family: "Ruda Black";
}
.button1 {
  font-family: "Ruda black";
  color: white;
  position: relative;
  margin-top: 70px;
  background-color: rgb(0, 134, 22);
  font-size: large;
  margin-right: 20px;
  border: none;
  border-radius: 20px;
  height: 50px;
  width: 180px;
}
.name {
  color: rgba(255, 255, 255, 0.932);

  font-size: large;
  margin-right: 20px;
}
.name2 {
  width: 250px;
  height: 30px;
}
.difficulty {
  color: rgba(255, 255, 255, 0.932);

  font-size: large;
  margin-right: 20px;
}

.difficultyInput {
  width: 250px;
  height: 30px;
  cursor: pointer;
}
.duration {
  color: rgba(255, 255, 255, 0.932);

  font-size: large;
  margin-right: 20px;
}

.hora {
  color: rgba(255, 255, 255, 0.932);
  font-size: large;
  margin-left: 10px;
}

.durationInput {
  width: 250px;
  height: 30px;
}
.season {
  color: rgba(255, 255, 255, 0.932);

  font-size: large;
  margin-right: 20px;
}
.seasonInput {
  width: 250px;
  height: 30px;
}
.countries {
  color: rgba(255, 255, 255, 0.932);

  font-size: large;
  margin-right: 20px;
}
.countriesInput {
  width: 250px;
  height: 30px;
}
.volver {
  display: block;
  color: white;
  font-size: 27px;
  text-decoration: none;
  position: absolute;
  top: 20px;
  left: 70px;
  transition: 0.2s;
  background-color: rgb(0, 132, 255);
  width: 150px;
  height: 50px;
  border-radius: 70% 10px 10px 70%;
  padding-top: 10px;
}

.volver:hover {
  font-size: 30px;
  transition: 0.2s;
  background-color: rgba(0, 132, 255, 0.678);
  padding-bottom: 7px;
}
