@font-face {
  font-family: "Ruda Black";
  src: url("../../assets/Ruda/static/Ruda-Black.ttf") format("truetype");
}
.searchBar {
  display: flex;
  justify-content: center;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-top: 50px;
}
.button1 {
  font-family: "Ruda Black";
  font-style: bold;
  margin-left: 10px;
  background-color: rgb(0, 142, 224);
  color: white;
  font-size: 17px;
  padding: 7px 23px 7px 23px;
  border-radius: 30px;
  border: 2px solid rgb(0, 142, 224);
  cursor: pointer;
}
.button1:active {
  border: 2px solid rgb(0, 57, 90);
}
.button2 {
  font-style: bold;
  background-color: rgba(221, 0, 0, 0.781);
  color: white;
  font-size: 17px;
  margin: 5px;
  border-radius: 30px;
  border: 2px solid rgba(221, 0, 0, 0.781);
  cursor: pointer;
}
.button2:active {
  border: 2px solid rgb(0, 57, 90);
}
.buscadorInput {
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.863);
  border: none;
  border-radius: 20px;
  text-align: center;
}

.selectFilter {
  margin: 5px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.863);
  width: 100px;
  border: rgba(255, 255, 255, 0.863);
  border-radius: 20px;
  text-align: center;
  font-size: medium;
  cursor: pointer;
}

.selectFilterAct {
  margin: 5px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.863);
  width: 100px;
  border: rgba(255, 255, 255, 0.863);
  border-radius: 20px;
  text-align: center;
  font-size: medium;
  cursor: pointer;
}

.selectSortA {
  margin: 5px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.863);
  width: 100px;
  border: rgba(255, 255, 255, 0.863);
  border-radius: 20px;
  text-align: center;
  font-size: medium;
  cursor: pointer;
}

.selectSortP {
  margin: 5px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.863);
  width: 130px;
  border: rgba(255, 255, 255, 0.863);
  border-radius: 20px;
  text-align: center;
  font-size: medium;
  cursor: pointer;
}

.labelFilter {
  color: white;
  height: 30px;
  font-size: medium;
}
.labelFilterAct {
  color: white;
  height: 30px;
  font-size: medium;
}
.labelSortA {
  color: white;
  height: 30px;
  font-size: medium;
}
.labelSortP {
  color: white;
  height: 30px;
  font-size: medium;
}

.barraFiltros {
  display: flex;
  height: 35px;
  background-color: rgba(12, 17, 24, 0.548);
  margin-top: 3px;
  justify-content: space-around;
}
