@font-face {
  font-family: "Ruda Black";
  src: url("../../assets/Ruda/static/Ruda-Black.ttf") format("truetype");
}

.barra {
  background-color: rgba(12, 17, 24, 0.548);
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}
.inicio {
  font-family: "Ruda Black";
  background-color: rgb(0, 142, 224);
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 5px 23px 7px 23px;
  margin-top: 10px;
  border-radius: 30px;
  border: solid rgba(0, 142, 224, 0.877);
}
.inicio:hover {
  background-color: rgba(0, 142, 224, 0.877);
  border: solid rgba(0, 142, 224, 0.63);
}
.act {
  font-family: "Ruda Black";

  background-color: rgb(0, 142, 224);
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 5px 23px 7px 23px;
  margin-top: 10px;
  border-radius: 30px;
  border: solid rgba(0, 142, 224, 0.877);
}
.act:hover {
  background-color: rgba(0, 142, 224, 0.877);
  border: solid rgba(0, 142, 224, 0.63);
}
